


html, body{   
    height: 100vh;
    background-color: #d6d5c9;
    font-family: 'lato','san-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    display: flex;
    flex-direction: row;   
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}


nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

nav ul li{
    
    height: 60px;
    background-color: black;  
    
}  

nav ul li a{
    
    display: inline-block;
    font-size: 16px;   
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: black;    
    
}      

a:hover{
    color: #eb5e28;   
}
   
.mijn_logo {
    
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #eb5e28;
    text-decoration: none;
}

.mijn_logo a{
    text-decoration: none;
}

.mijn_logo a:visited {
    color: #eb5e28;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background-color: black;
}





.wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    gap: 10px;
    
    
}

.container {
    display: flex;   
    align-items: center;
    justify-content: center;
    min-height: 100vh;      
    
}

.welkom_txt {
       
    text-align: center;
    
}

.welkom_txt p{
    margin : 20px 20px;
}

.welkom_txt h1{
    font-size: 2rem;
    
}

.welkom_afb img {
        height: auto;
        width: 60%; 
        padding-top: 20px;   
        justify-content: center;
        align-items: center;
        
    }

div.welkom_afb:hover {
    opacity: 0.5;
    }



.btnPortfolio{
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}



.overmij_links {
    background-image: url('../afb/laptop-1.png');
    background-size: cover;
    background-position-x: center;
  
    height: 100vh;
    width: 40%;
    
    
}

.overmij_rechts h1{
    font-size: 2rem;
    padding-left: 0;
    padding-top: 45px;
}


.overmij_rechts {
    flex: 1;
    
    height: 100vh;
    padding: 0 20px;
}

.overmij_rechts p {
    font-size: 1rem;
    height: auto;
    min-width: auto;
    width: 90%;
    max-width: 100%;
    
}

/* Portfolio Projecten */
.container-p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.titel h1 {
    padding-top: 40px;
    font-size: 2rem;
    text-align: center;
}

.projecten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    
    gap: 10px;
    align-items: stretch;
    justify-items: center;
}

.project {
    width: 90%;
    height: auto;
    padding: 10px ;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, #dad4d400,  #e3d4b4);
    
}

.project img {
    width: 100%;
    height: auto;
    display: block;   
}

.tekst {
    
    width: 95%; 
    padding : 10px 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(135deg, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    border: 1px solid rgba(255, 255, 255, 0.3);    
    pointer-events: none;        
}

.tekst p {
    
    
    font-size: 1rem;    
    width: 100%;  
    
}
    
div.project:hover {
   
    box-shadow: 0 4px 8px 0 rgba(147, 145, 143, 0.908);
    
}



.contact_me {
    display: flex;
    flex-direction: row;
    
}

.icon_1 svg, 
.icon_2 svg, 
.icon_3 svg {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 10px;
    fill: black;
}

.icon_1 svg:hover {
    fill: #eb5e28;
} 
.icon_2 svg :hover {
    fill: #eb5e28;
} 
.icon_3 svg :hover {
    fill: #eb5e28;
}



footer p{
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .welkom_afb img {
        padding: 30px;
        height: 200px;
        width: 200px;
        border-radius: 60%;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: none;
        position: absolute;      
        top: 50px;
        right: 0;
        width: 100%;
        padding: 0.5 rem;
        align-items: center;

    }

    .show {
        display: flex;
        flex-direction: column;  
        background-color: black ;
        justify-content: flex-end;
        
    }

    .hamburger {
        display: flex;        
        justify-content: flex-end;
        padding: 10px;
    }

    .hamburger svg {
        fill: white;
        height: 25px;
        width: 25px;
        right: 5px;               
    }
    
    h1{
        font-size: 18px;
    }

    #portfolio {
        scroll-margin-top: 20px ;    
    }

    .projecten {
        grid-template-columns: 1fr;   
     }
    
    .project{
        padding-top: 10px;         
        min-height: fit-content;        
    }

    .project h1{
        font-size: 1rem;
        top: 10px;
    }
    
    .tekst{
        margin-top: 10px;
        margin-bottom: 10px;        
    }

    .tekst p{       
       padding: 10px;
       font-size: 12px;       
    }

    .overmij_links {
      
        width: 100%;
        height: 200px;
        background-image: url('../afb/laptop-2.png');
        background-size: cover;
        background-position-y: 70%;
        left: 0;
        top: 0;
        
    }    

    .overmij_rechts p{
        font-size: 14px;
        
        width: 100%;
        right:  20px;
        left: 20px;                    
    }

    .overmij_rechts h1{
        text-align: center;
        align-items: center;
        top: 10px;
       
    }

    .welkom  h1{
        font-size: 18px;
    }    
    
  }



@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container-p {
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
  }
}